#reset, #IncomeBracket, #TopCountries, #Bar {
  display: inline-block;
  background-color: white;
  color: black;
  padding-left: 32px;
  padding-right: 32px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.7s;
}

#reset:hover, #IncomeBracket:hover, #TopCountries:hover, #Bar:hover {
  background-color: #c4c4c4;
  color: white;
}

#HoverInfo, #HoverInfo2, #HoverInfo3 {
  text-align: middle;
  color: white;
  padding: 32px;
  cursor: pointer;
  background-color: #c4c4c4;
  font-weight: 700;
}

#content {
  position: relative;
}

body {
  margin: auto;
  padding-top: 50px;
  position: relative;
  width: 1000px;
  font-family: 'IBM Plex Mono', monospace;
}

#footer {
  position: static;
  width: 100%;
  background-color: #c4c4c4;
  color: white;
  text-align: left;
}
