#reset, #IncomeBracket, #TopCountries, #Bar {
  display: inline-block;
  background-color: white;
  color: black;
  padding-left: 32px;
  padding-right: 32px;
    -webkit-transition-duration: 0.4s;
  transition-duration: 0.7s;
}

#reset:hover, #IncomeBracket:hover, #TopCountries:hover, #Bar:hover {
  background-color: #4CAF50;
  /* Green */
  color: white;
}

#HoverInfo {
  text-align: left;
  color: #242424;
  padding: 32px;
  font-weight: bold;
  cursor: pointer;
}

#content {
  position: relative;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  padding-top: 50px;
  position: relative;
  width: 1000px;
}
