body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  padding-top: 50px;
  position: relative;
  width: 1000px;
}

#less {
  color: #e3876e;
  cursor: pointer;
  padding: 3px;
  font-weight: bold;
  padding-right: 20px;
}

#more {
  color: #89e36e;
  cursor: pointer;
  padding: 3px;
  font-weight: bold;
  padding-right: 20px;
}

#there {
  text-align: right;
  color: #3f423e;
  cursor: pointer;
  padding: 3px;
  font-weight: bold;
  padding-right: 20px;
}

#HoverInfo {
  text-align: middle;
  color: #3f423e;
  padding: 3px;
  font-weight: bold;
}

#content {
  position: relative;
}
